<form [formGroup]="registerForm">
  <h1 class="title" style="font-family: roboto-black">Đăng Kí</h1>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <span
      [ngClass]="
        registerForm.controls.email.touched &&
        registerForm.controls.email.errors?.required
          ? 'text-red'
          : ''
      "
      class="email"
      style="font-family: roboto-black"
      >Email <span class="text-red">*</span></span
    >
    <input
      [ngClass]="
        registerForm.controls.email.touched &&
        registerForm.controls.email.errors?.required
          ? 'input-invalid'
          : ''
      "
      class="form-control"
      placeholder="email"
      type="text"
      formControlName="email"
      required="true"
    />
    <span
      class="text-red text-12px font-roboto-regular"
      *ngIf="
        registerForm.controls.email.touched &&
        registerForm.controls.email.errors?.required
      "
      >Email là <span class="font-bold">bắt buộc *</span></span
    >
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <span
      [ngClass]="
        registerForm.controls.password.touched &&
        registerForm.controls.password.errors?.required
          ? 'text-red'
          : ''
      "
      class="password"
      style="font-family: roboto-black"
      >Password <span class="text-red">*</span></span
    >
    <input
      [ngClass]="
        registerForm.controls.password.touched &&
        registerForm.controls.password.errors?.required
          ? 'input-invalid'
          : ''
      "
      type="password"
      class="form-control"
      placeholder="password"
      type="password"
      formControlName="password"
      required="true"
    />
    <span
      class="text-red text-12px font-roboto-regular"
      *ngIf="
        registerForm.controls.password.touched &&
        registerForm.controls.password.errors?.required
      "
      >Password là <span class="font-bold">bắt buộc *</span></span
    >
  </div>

  <!-- Firstname input -->
  <div class="form-outline mb-4">
    <span
      [ngClass]="
        registerForm.controls.firstName.touched &&
        registerForm.controls.firstName.errors?.required
          ? 'text-red'
          : ''
      "
      class="firstname"
      style="font-family: roboto-black"
      >FirstName <span class="text-red">*</span></span
    >
    <input
      [ngClass]="
        registerForm.controls.firstName.touched &&
        registerForm.controls.firstName.errors?.required
          ? 'input-invalid'
          : ''
      "
      class="form-control"
      placeholder="firstName"
      type="text"
      formControlName="firstName"
      required="true"
    />
    <span
      class="text-red text-12px font-roboto-regular"
      *ngIf="
        registerForm.controls.firstName.touched &&
        registerForm.controls.firstName.errors?.required
      "
      >FirstName là <span class="font-bold">bắt buộc *</span></span
    >
  </div>

  <!-- MiddleName input -->
  <div class="form-outline mb-4">
    <span
      [ngClass]="
        registerForm.controls.middleName.touched &&
        registerForm.controls.middleName.errors?.required
          ? 'text-red'
          : ''
      "
      class="firstname"
      style="font-family: roboto-black"
      >MiddleName <span class="text-red">*</span></span
    >
    <input
      [ngClass]="
        registerForm.controls.middleName.touched &&
        registerForm.controls.middleName.errors?.required
          ? 'input-invalid'
          : ''
      "
      class="form-control"
      placeholder="middleName"
      type="text"
      formControlName="middleName"
      required="true"
    />
    <span
      class="text-red text-12px font-roboto-regular"
      *ngIf="
        registerForm.controls.middleName.touched &&
        registerForm.controls.middleName.errors?.required
      "
      >MiddleName là <span class="font-bold">bắt buộc *</span></span
    >
  </div>

  <!-- LastName input -->
  <div class="form-outline mb-4">
    <span
      [ngClass]="
        registerForm.controls.lastName.touched &&
        registerForm.controls.lastName.errors?.required
          ? 'text-red'
          : ''
      "
      class="lastName"
      style="font-family: roboto-black"
      >LastName <span class="text-red">*</span></span
    >
    <input
      [ngClass]="
        registerForm.controls.lastName.touched &&
        registerForm.controls.lastName.errors?.required
          ? 'input-invalid'
          : ''
      "
      class="form-control"
      placeholder="lastName"
      type="text"
      formControlName="lastName"
      required="true"
    />
    <span
      class="text-red text-12px font-roboto-regular"
      *ngIf="
        registerForm.controls.lastName.touched &&
        registerForm.controls.lastName.errors?.required
      "
      >LastName là <span class="font-bold">bắt buộc *</span></span
    >
  </div>

  <!-- Submit button -->
  <button
    (click)="submit()"
    type="submit"
    style="font-family: roboto-black"
    class="btn btn-primary btn-block mb-4"
  >
    Đăng kí
  </button>
</form>
